.header {
  background-color: #002743;
}

.logo {
  height: 4rem;
  width: auto;
}

.title {
  color: #5ba87e;
  font-size: xx-large;
}

.buttons {
  margin-top: 10rem;
}

.greenButton {
  background-color: #002743;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.greenButton:hover {
  background-color: #5ba87e;
}
